.interactive-logo {
  display: none;
  align-self: center;
  margin-top: 0;
  text-align: center;

  .ed-logo {
    max-width: 480px;
  }

  &.is-displayed {
    display: block;
  }
}

.interactive-logo--heading {
  font-size: 8vh;
  letter-spacing: .5vh;
  margin-top: 0;
  margin-bottom: 2vh;
}

.interactive-logo--bullets {
  align-items: center;
  display: flex;
  color: $body-font-color;
  font-size: 3vh;
  min-height: 5vh;
}

.interactive-logo--bullet {
  display: inline-block;
  cursor: pointer;
}
