// Header Vars
$header-font-color: #fff;
$header-text-shadow-color: #000;

// Body Vars
$body-bg-color: #16131e;
$body-font-color: #eee;

// Masthead Styles
$masthead-bg-color: #000;
$masthead-border-color: #17161a;

// Highlight Colors
$highlight-red: #f3240c;
$mid-red: #bf1c09;
$dark-red: #8a1407;

$highlight-yellow: #f6da09;
$highlight-blue: #067cf9;

// Special Typography
$code-block-bg-color: #000;
$code-block-border-color: #222;
$code-block-font-color: #ccc;

// Icons
$icon-color: $body-font-color;

// Post Nav Links
$postnav-bg-color: #0d0d0f;
$postnav-avatar-border-color: #16131e;
$postnav-avatar-bg-color: #17161a;
